#whosinIframe {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 500px;
  z-index: 100000;
  border: none;
  border-right: 1px solid #98BFD6;
  background: #efefef;
  overflow: auto;
  overflow-x: hidden;
}

#whosInPreloading {
  position: fixed;
  top: 100px;
  left: 120px;
  z-index: 100002;
}

#whosInCloseIcon {
  position: fixed;
  top: 2px;
  left: 280px;
  z-index: 100001;
}